<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a> Members Mgmt </a>
  <span class="example-spacer"></span>
  <button mat-button color="primary" mat-button routerLink="/members" > Go to Members admin ! </button>
  <button mat-button color="accent" mat-button routerLink="/members/create" > Go to Create ! </button>
  <button mat-button color="accent" mat-button routerLink="/members/list" > Go to Members ! </button>
  
</mat-toolbar>


<router-outlet></router-outlet>


